.section_market {
  position: relative;
  z-index: 1 !important;
}

#CNmarket_widget .cnm-container-main {
  flex-basis: 100%;
}

.cnm-search-box {
  text-align: center;
  width: 100%;
}

.cnm-container-top {
  margin: 0 0 30px;
  max-width: 100%;
}

.cnm-container-top img {
  max-width: 100%;
}

.cnm-search-box tr td {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid #e9e9e9;
}

.cnm-featured td:nth-of-type(2) {
  padding: 0;
}

.cnm-provider-logo {
  max-height: 35px;
  max-width: 90px;
  padding-top: 5px;
}

.cnm-search-list .cnm-provider-logo,
.cnm-search-top .cnm-provider-name {
  display: none;
}
.cnm-search-top .cnm-provider-name .cnm-filter-height {
  position: relative;
  width: 100%;
  height: 100%;
}

.cnm-filter-height-fixed {
  min-height: 800px;
  height: auto;
}

.cnm-filter-height {
  width: 100%;
  height: 100%;
}

.cnm-filter-container {
  position: sticky;
  top: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cnm-filter-block {
  margin: 0 0 20px;
}

.cnm-filter-block label {
  margin-top: 5px;
  display: inline-block;
}

.cnm-filter-block input[type="radio"] {
  opacity: 0;
  position: absolute;
}

.cnm-filter-block label span {
  display: inline-block;
  background-color: white;
  padding: 3px 6px;
  font-size: 0.9rem;
  border: 1px solid #e9e9e9;
  transition: 0.2s;
  user-select: none;
}

.cnm-filter-block label:hover span {
  background-color: #ff4400;
  border-color: #ff4400;
  cursor: pointer;
}

.cnm-filter-links
{
  margin-top: -10px;
  margin-bottom: 10px;
}

.cnm-filter-links a
{
  color: #ff4400;
  font-size: 13px;
  font-weight: 600;
  transition: .2s;
  text-decoration: underline;
}

.cnm-filter-links a:hover
{
  color: #EE4400;
}

.cnm-filter-block-main {
  max-width: 270px;
  width: 100%;
}

/*
.market-filters input[type="radio"]:focus + label {
    border: 2px dashed #444;
}
*/

.cnm-filter-block input:checked + span {
  background-color: #ff4400;
  border-color: #ff4400;
  color: white;
  font-weight: 600;
}

.cnm-search-layout {
  flex-basis: 77%;
}

.cnm-search-layout .read_more_btn {
  margin-top: 17px;
}

.cnm-search-box .cnm-search-list-head td {
  background-color: #0164a7;
  color: white;
  font-weight: 700;
  padding: 10px 5px;
  border: 1px solid white;
  border-top: 0;
  border-bottom: 0;
  box-sizing: border-box;
}

.cnm-search-box .cnm-search-list-head td:first-of-type {
  width: 90px;
}

.cnm-search-box .cnm-search-list-i {
  transition: 0.2s;
}

.cnm-search-list-i td:first-of-type div {
  opacity: 0.5;
}

.cnm-search-box tr:hover {
  background-color: #f5f5f5;
}

.cnm-search-list-head td:first-of-type {
  border-left: 0;
}

.cnm-search-list-head td:last-of-type {
  border-right: 0;
}

.cnm-search-list-head td span {
  display: block;
  font-size: 0.6rem;
  margin-top: 0;
  line-height: 0.7rem;
}

/*.cnm-featured td {
    font-weight: 700;	
}*/
.cnm-search-top td {
  font-weight: 700;
}
/*.cnm-featured + tr:not(.cnm-featured) td {
    border-top: 1px solid #00A7B3;
}*/
.cnm-search-top tr:last-of-type td {
  border-bottom: 1px solid #0164a7;
}

.cnm-search-list .cnm-buy-btn {
  display: none;
}

.cnm-td-sort-link {
  position: relative;
}

.cnm-td-sort-link div {
  margin-bottom: 6px;
  padding-bottom: 2px;
  margin: 0 auto 3px;
  cursor: pointer;
  user-select: none;
}

.cnm-td-sort-link div:after {
  content: "";
  height: 2px;
  width: 50%;
  display: block;
  border-bottom: 2px dashed white;
  margin: 0 auto;
}

.cnm-td-sort-link div:before {
  content: "";
  display: inline-block;
  background-image: url(//filearchive.cnews.ru/img/files/2019/09/09/triangle.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  position: absolute;
  margin-left: -15px;
  margin-top: 6px;
}

.cnm-td-sort-link.cnm-upside-down div:before {
  transform: rotate(180deg);
}

.cnm-td-sort-link.cnm-hide-arrow {
  display: none;
}

td[data-char="price"] .cnm-tooltip-link {
  position: absolute;
  right: 6px;
  min-width: 19px;
  display: inline-block;
}

/*old tooltip*/
/*
.cnm-tooltip-link {
  color: #999;
  font-size: 0.7rem;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.cnm-tooltip-link:hover {
  text-decoration: underline;
}

.cnm-tooltip-content {
  position: absolute;
  display: block;
  opacity: 0;
  background-color: #ffd46e;
  color: #212121;
  cursor: default;
  bottom: 5px;
  left: 12px;
  width: 155px;
  text-align: left;
  padding: 10px;
  visibility: hidden;
  z-index: 1;
  white-space: initial;
  display: none;
}*/

.cnm-tooltip-link {
  color: #999;
  font-weight: 400;
  cursor: pointer;
  position: relative;
}

.cnm-tooltip-content {
  position: absolute;
  display: block;
  background-color: white;
  box-shadow: 0 0 40px rgba(0,0,0,.2);
  color: #2e3039;
  font-size: 14px;
  line-height: 1.6;
  cursor: default;
  right: 150%;
  top: 8px;
  transform: translateY(-50%);
  width: 140px;
  text-align: left;
  padding: 15px 25px 15px 15px;
  z-index: 1;
  white-space: initial;
  font-family: "Open Sans", sans-serif;
  display: none;
  visibility: hidden;
  opacity: 0;
  border: 1px solid #ccc;
  border-right: 0;
  box-sizing: border-box;
}

.cnm-tooltip-content:before {
  content: "";
  background-color: #0164a7;
  height: 100%;
  width: 10px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.cnm-tooltip-content:after {
  content: "";
  position: absolute;
  right: calc(0px - 15px);
  top: calc(50% - 5px);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid #0164a7;
  transform: rotate(270deg);
  clear: both;
}

.cnm-tooltip-link:hover .cnm-tooltip-content {
  opacity: 1;
  transition: 0.2s;
  visibility: visible;
  display: inline-block;
}

.cnm-tl-left .cnm-tooltip-content {
  right: auto;
  left: 20px;
  z-index: 2;
  /*bottom: 0;*/
  width: 236px;
  padding: 15px 15px 15px 25px;
}

.cnm-tl-left .cnm-tooltip-content:before {
  right: auto;
    left: 0;
}

.cnm-tl-left .cnm-tooltip-content:after {
  right: auto;
  left: calc(0px - 15px);
  transform: rotate(90deg);
}

.cnm-tooltip-content.cnm-tooltip-big:after {
  display: none;
}

.cnm-tooltip-top {
  background-image: url(https://filearchive.cnews.ru/img/cnews/2019/10/24/tooltiptop.jpg);
  height: 50px;
  width: 100%;
}

.cnm-tooltip-body {
  padding: 20px 30px 30px;
  background-color: white;
}

.cnm-tooltip-box {
  position: relative;
  width: 470px;
  box-shadow: 0px 0px 80px 0px rgba(0, 0, 0, 0.2);
}

.cnm-tooltip-box strong {
  font-size: 1.2rem;
  line-height: 1.5;
}

.cnm-tooltip-box p {
  line-height: 1.5;
}

.cnm-tooltip-box a {
  color: #0164a7;
  font-style: italic;
}

.cnm-tooltip-box:after,
.cnm-tooltip-box:before {
  right: 100%;
    transform: rotate(180deg);
  top: 80px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 20px;
  position: absolute;
  pointer-events: none;
}

.cnm-tooltip-box:after {
  border-width: 30px;
  margin-top: -30px;
}

.cnm-tooltip-box:before {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 25px;
}

.cnm-tooltip-read-more {
  display: block;
  font-style: italic;
  margin-bottom: 25px;
}

.cnm-cols-group {
  justify-content: space-between;
}

.cnm-col {
  flex-basis: 45%;
}

.cnm-col img {
  max-width: 100%;
}

.cnm-tooltip-big,
.cnm-tl-left .cnm-tooltip-big {
  background-color: white;
  bottom: unset;
  right: unset;
  left: 40px;
    top: -97px;
  font-size: 1rem;
  color: #2e3039;
  width: 470px;
  display: inline-block;
  transition: ease-out .75s;
  padding: 0;
  transform: unset;
  border: 0;
  z-index: 2;
}

.cnm-buy-btn {
  position: relative;
  background-image: url(//filearchive.cnews.ru/img/files/2019/09/09/regular.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  margin-top: 2px;
  margin-left: 5px;
  padding: 0px;
  width: 16px;
  height: 16px;
  transition: 0.2s;
}

.cnm-featured .cnm-buy-btn {
  background-image: url(//filearchive.cnews.ru/img/files/2019/09/09/featured.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cnm-featured .cnm-buy-btn:hover {
  filter: brightness(80%);
}

.cnm-search-box td[data-char="price"] {
  position: relative;
  text-align: right;
  padding: 10px 28px 10px 0;
  box-sizing: border-box;
  min-width: 90px;
}

td[data-char="price"] .cnm-buy-btn {
    position: absolute;
    right: 6px;
}

td[data-char="price"] .cnm-tooltip-link~.cnm-buy-btn {

}

.cnm-search-top .cnm-featured td[data-char="price"] {
  width: 100px;
}

.cnm-filter-layout {
  padding: 8px 10px;
  background-color: #f7f7f7;
  border: 1px solid #e9e9e9;
  flex: 0 0 250px;
  margin-right: 12px;
  align-items: self-start;
  position: relative;
  z-index: 1;
}

.cnm-filter-layout h3 {
  margin: 0 0 10px;
  color: #0164a7;
  font-size: 1.2rem;
}

.cnm-sr-inputs-block {
  margin-top: 13px;
  font-size: 0;
  position: relative;
}

.cnm-sr-inputs-divider {
  margin: 0 5px 0 20px;
  font-size: 1rem;
}

.cnm-sr-input {
  width: 23%;
  display: inline-block;
  border: 1px solid #d5d5d5;
  text-align: center;
  font-size: 0.7rem;
  padding: 6px 5px;
}

.cnm-filter-param {
  width: 100%;
  margin: 10px 0 25px;
}

.cnm-filter-param + .cnm-filter-block-more {
  margin-top: -10px;
}

.cnm-filter-param.cnm-filter-block-more + .cnm-filter-block-more {
  margin-top: 10px;
}

.cnm-filter-param > div {
  align-items: baseline;
}

.cnm-slider-block-int {
  align-self: flex-start;
}

.cnm-slider-block-text {
  width: 50%;
}

.cnm-slider-block-text .cnm-sr-input {
  width: 100%;
  box-sizing: border-box;
}

.cnm-oc-buttons {
  width: 100%;
  margin-top: auto;
}

.cnm-filter-block-more {
  display: none;
}

.ui-slider-handle.ui-corner-all.ui-state-default {
  background: white;
  border: 1px solid #0164a7;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  outline: none;
}

.cnm-slider-block {
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  width: 45%;
  flex-grow: 2 !important;
}

.cnm-slider-block-multilist label {
  display: block;
  margin-bottom: 5px;
  user-select: none;
}

.cnm-slider-block-list {
  flex: 0 0 auto;
}

.cnm-slider-block input[type="number"]::-webkit-inner-spin-button,
.cnm-slider-block input[type="number"]::-webkit-outer-spin-button,
.cnm-slider-block input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

/*
.sr-inputs-arrows {
        display: inline-block;
    position: relative;
    height: 22px;
    width: 18px;
    vertical-align: top;
    margin-top: 2px;
}

.sr-inputs-arrows button {
    display: inline-block;
    background: white;
    border: 1px solid #D5D5D5;
    height: 11px;
    line-height: 10px;
    padding: 0 3px;
    position: absolute;
    top: 0;
}

.sr-inputs-arrows button:last-of-type {
        top: auto;
    bottom: 0;
}

.sr-inputs-arrows button img {
        width: 10px;
}

.sr-inputs-arrows button:last-of-type img {
        transform: rotate(180deg);
}
*/

.cnm-sr-arrow {
  height: 13px;
  width: 14px;
  float: l;
  position: absolute;
  bottom: 0;
  background: #fff;
  border: 1px solid #d5d5d5;
  user-select: none;
}

.cnm-sr-arrow img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
}

.cnm-sr-arrow:nth-child(odd) {
  transform: rotate(180deg);
}

.cnm-sr-arrow:nth-child(even) {
  transform: rotate(0);
  top: 0;
}

.cnm-select {
  border: 1px solid #e9e9e9;
  padding: 5px 7px;
  color: #333;
  width: 100%;
  font-size: .7rem;
}

.cnm-slider-block .cnm-select input:nth-child(1):checked + label {
  order: 1;
}
.cnm-slider-block .cnm-select input:nth-child(1) + label {
  color: #999999;
  font-style: italic;
  text-align: right;
}

.cnm-option:focus,
.cnm-select input:focus {
  outline: none;
}

.cnm-filter-name {
  display: inline-block;
  text-align: right;
  flex: 0 0 20%;
  margin: 0 10px 0 0;
  white-space: nowrap;
}

.cnm-filter-info {
  margin-top: 15px;
  font-size: 0.6rem;
  text-align: right;
  display: block;
  color: #999;
}

.cnm-filter-param .ui-slider-horizontal .ui-slider-handle {
  margin-left: 0;
  z-index: 1;
}

.cnm-filter-param .ui-slider-horizontal {
  height: 1px;
}

.cnm-filter-param .ui-widget-header {
  background: #707070;
}

.cnm-filter-param .ui-slider .ui-slider-range {
  z-index: 0;
}

.cnm-filter-param .ui-widget.ui-widget-content {
  border: 5px solid #f7f7f7;
  border-left: 0;
  border-right: 0;
  background: #ccc;
  width: calc(100% - 10px);
}

.cnm-btn-filters-more {
  font-family: "Open Sans", sans-serif;
  color: #ff4400;
  text-align: center;
  border: 1px solid transparent;
  border-bottom: 1px dashed #ff4400;
  margin: 0 auto 15px;
  font-size: 0.7rem;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0px;
  outline: none;
}
.cnm-btn-filters-close {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.7;
  vertical-align: sub;
}

.cnm-featured .cnm-filters-more {
  display: block;
  margin: 0 auto;
  width: 100%;
  border-bottom: 0;
  margin-top: 7px;
  color: white;
  background: #ff4400;
  padding: 3px 4px;
  font-size: 0.8rem;
  font-weight: 600;
  box-sizing: border-box;
}

.cnm-featured .cnm-filters-more:hover {
  background-color: #ff5900;
  color: white;
}

.cnm-btn-filters-more:hover {
  color: #ff5900;
}

.cnm-btn-search {
  background-color: #ff4400;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  width: 100%;
  box-sizing: border-box;
  transition: 0.2s;
}

.cnm-btn-search:hover {
  background-color: #ff5900;
}

.ui-spinner-input {
  outline: none;
}

.cnm-infinity {
  font-size: 1.4rem;
  line-height: 1rem;
}

@media (min-width: 1280px) {
  .cnm-container-top, .cnm-container-top > div {
    min-height: 200px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cnm-filter-layout {
    flex: 0 0 235px;
  }

  .cnm-slider-block {
    width: 30%;
  }

  .cnm-search-box tr td:nth-of-type(6), .cnm-search-box tr td:nth-of-type(7), .cnm-search-box tr td:nth-of-type(8) {
    display: none;
  }

  .cnm-search-box td[data-char="price"] {
    display: table-cell;
  }
}

@media (max-width: 992px) {
  .cnm-featured .cnm-filters-more {
    font-size: 0.65rem;
  }

  .cnm-container-main {
    flex-direction: column !important;
  }

  .cnm-filter-layout {
    order: 1;
    margin: 0 0 20px;
    flex: 1 1 auto;
  }

  .cnm-search-layout {
    order: 2;
    overflow-x: hidden;
  }

  .cnm-tooltip-content {
    left: auto;
    right: calc(100% + 10px);
    padding: 15px 25px 15px 15px;
  }

  .cnm-tooltip-content:before {
    right: 0;
    left: auto;
  }

  .cnm-tooltip-content:after {
    left: auto;
    right: calc(0px - 15px);
    transform: rotate(270deg);
  }

  .cnm-filter-block-main {
    max-width: 100%;
  }

  .cnm-filter-block-main > div {
    column-count: 3;
    column-gap: 30px;
  }

  .cnm-filter-height-fixed {
    min-height: unset;
  }

  .cnm-filter-param {
    width: 100%;
    margin: 0 0 30px;
    page-break-inside: avoid;
  }

  .cnm-oc-buttons {
    margin-top: 30px;
  }

  .cnm-filter-name,
  .cnm-filter-info {
    text-align: left;
  }

  .cnm-filter-name {
    flex: unset;
  }

  .cnm-slider-block {
    width: 60%;
  }

  .cnm-tl-left .cnm-tooltip-content {
    left: 20px;
    right: auto;
    bottom: auto;
    z-index: 2;
    padding: 15px 15px 15px 25px;
  }

  .cnm-tl-left .cnm-tooltip-content:before {
    left: 0;
    right: auto;
  }

  .cnm-tl-left .cnm-tooltip-content:after {
    left: calc(0px - 15px);
    right: auto;
    transform: rotate(90deg);
  }

  .cnm-tooltip-big,
  .cnm-tl-left .cnm-tooltip-big {
    z-index: 2;
  }

  .cnm-tooltip-box:after,
  .cnm-tooltip-box:before {
    display: none;
  }

  .cnm-tooltip-big, .cnm-tl-left .cnm-tooltip-big {
    top: -600px;
    padding: 0;
  }
}

@media (max-width: 800px) {
  .cnm-search-layout {
    overflow-x: auto;
  }

  .cnm-search-box {
    overflow-x: scroll;
  }

  .cnm-filter-name {
    flex: 0 0 25%;
  }

  .cnm-search-box .cnm-search-list-head td {
    min-width: 90px;
  }

  .cnm-filter-block-main > div {
    column-count: 2;
  }
}

@media (max-width: 576px) {
  .cnm-filter-block-main > div {
    column-count: 1;
  }

  .cnm-tooltip-box, .cnm-tooltip-big {
    width: 300px;
  }
}

@media (max-width: 480px) {
  .cnm-slider-block {
    flex: 0 0 60%;
  }
}

@media (max-width: 360px) {
  .cnm-slider-block {
    flex: 0 0 50%;
  }
}
