<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
      <add key="appSID" value="" />
      <!-- put here your app SID (client ID) - required -->
      <add key="appKey" value="" />
      <!-- put here your app key (client secret) - required -->
      <add key="baseUrl" value="https://api.aspose.cloud/v3.0" />
      <!-- put here the API service URL; default is http://api.aspose.cloud -->
      <add key="authUrl" value="https://api.aspose.cloud" />
      <!-- put here the autorization service URL; default is http://api.aspose.cloud -->
      <add key="LocalDataPath" value="" /> 
      <!-- put here local data path where test documents are located, e.g. d:\sdk\testdata -->
  </appSettings>
</configuration>